html {
  width: 8.5in;
  height: 11in;
  max-height: 11in;
  font-size: xx-small;
}

h4 {
  margin-bottom: 0.05in;
}

ul {
  padding-left: 0.2in;
  margin-bottom: 0.15in;
}

li {
  margin: 0;
}

ul li {
  list-style-position: outside;
  margin-left: 1em;
}

p {
  margin-bottom: 0.5rem;
}

i {
  color: #777;
  margin-right: 0.1in;
}

hr {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border:none;
}

.header {
  background-color: #333;
  height: 1in;
  color: white;
  display: flex;
  justify-content: center;
}

.name {
  align-self: center;
  margin-bottom: 0;
}

.number {

}

.left-column {
  position: absolute;
  top: 1.25in;
  left: 0.5in;
  width: 5.25in;
  height: 9.25in;
}

.left-column h4 {
  margin-bottom: 0.05in;
}

.right-column {
  position: absolute;
  top: 1.25in;
  right: 0.5in;
  width: 1.95in;
  height: 9.25in;
}

.right-column h4:not(:first-child) {
  margin-top: 0.25in;
}

.location {
  display: inline;
  position: absolute;
  color: #777;
  margin-left: 0.1in;
}

.date {
  display: inline;
  position: absolute;
  right: 0;
  color: #777;
}

.right-column .date {
  position: relative;
  margin-left: 0.05in;
}

.table {
  display: flex;
  flex-direction: column;
  font-size: medium;
}

.table-left {
  padding-right: 8px;
}

.projects {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}
